<%- include('../partials/header.ejs')%>

<main>
    <div class="container-fluid pb-5">
        <div class="row">
            <div class="col-md-6 mx-auto mt-5">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><strong><%= event.title %></strong></h5>
                        <img class="mb-5 mt-5" src="<%= event.image %>" alt="Seminar" style="width: 200px; height: 150px;">
                        <br>
                        <p class="card-text">
                            <strong>Host:</strong> <%= event.host.firstName + " " + event.host.lastName %><br>
                            <br>
                            <strong>Start Time:</strong> <%= event.start %><br>
                            <br>
                            <strong>End Time:</strong> <%= event.end %><br>
                            <br>
                            <strong>Location:</strong> <%= event.location %><br>
                            <br>
                            <strong>Details:</strong> <%= event.details %>
                        </p>
                        <br>
                        <% if(user == event.host._id) { %>
                            <a href="/events/<%= event._id %>/edit" class="btn btn-outline-success me-2">Edit</a>
                            <form action="/events/delete/<%= event._id %>?_method=DELETE" method="POST" style="display:inline;">
                                <button type="submit" class="btn btn-outline-danger">Delete</button>
                            </form>
                        <%}%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include('../partials/footer.ejs')%>