<%- include('../partials/header.ejs')%>
<main>
    <div class="container-fluid py-5 m-5">
        <h2>Welcome, <%=user.firstName + " " + user.lastName %></h2>
        <%if(events.length) {%>
            <p>You have created the following events</p>
            <%events.forEach(event => {%>
                <a href='/events/<%=event.id%>'><p><%=event.title%></p></a>
            <%});
        } else {%>
            <p>You have not created any events</p>
        <%}%>
        <%if(rsvps.length) {%>
            <p>You have the following rsvps</p>
            <%rsvps.forEach(rsvp => {%>
                <div>
                    <a href='/events/<%= rsvp.event.id %>'><p style="display: inline;"><%= rsvp.event.title %></p></a>: <%= rsvp.status %>
                </div>

            <%});
        } else {%>
            <p>You have not created any events</p>
        <%}%>
    </div>
</main>
    
<%- include('../partials/footer.ejs')%>
